.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    
    background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    
    display: grid;
    grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
    
    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
    }
    
    @media only screen and(max-width: $bp-small)  {
        padding: 5rem;
    }
    
    &__logo {
        height: 3rem;
        justify-self: center;
    }
    
    &__btn {
        justify-self: start;
        align-self: start;
    }
    
    &__seenon-text {
        color: $color-grey-light-2;
        font-size: 1.6rem;
        
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        grid-column-gap: 1rem;
        
        &::before,
        &::after {
            height: 1px;
            content: "";
            background-color: currentColor;
            display: block;
        }
    }
    
    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        justify-items: center; 
        align-items: center;
        
        & img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(80%);
        }
        
        
    }
}










