.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    
    @media only screen and(max-width: $bp-small)  {
        margin: 10rem 0;
    }
    
}

.home {
    background-color: $color-grey-light-1;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    
    
    
    &__img {
        width: 100%;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
        z-index: 1;
    }
    
    &__like {
        fill: $color-primary;
        width: 2.5rem;
        height: 2.5rem; 
        
        
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
        margin: 1rem;
        z-index: 2;
        
    }
    
    &__name {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);
        
        z-index: 3;
        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        color: #fff;
        background-color: $color-secondary;
        font-weight: 400;
        padding: 1.25rem;
        text-align: center;
        
    }
    
    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }
    
    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1.5rem;
        margin-left: 2rem;
        
        display: flex;
        align-items: center;
        
        svg {
           fill: $color-primary;
            width: 2rem;
            height: 2rem; 
            margin-right: 1rem;
        }
        
        
    }
    
    &__btn {
        grid-column: 1 / span 2;
    }
}
