.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    
    display: flex;
    justify-content: center;
    
    @media only screen and(max-width: $bp-large)  {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-content: flex-end;
        align-items: center;
    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    background-color: #fff;
    
    &::before,
    &::after {
        height: 2px;
        width: 4.5rem;
        background-color: #fff;
        content: "";
        display: block;
    }
    
    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.3rem);
    }
    
    @media only screen and(max-width: $bp-large)  {
        margin-top: 0;
        margin-right: 3rem;
        
        &::before {
        transform: translateY(-1.2rem);
        }
        &::after {
            transform: translateY(1rem);
        }
    }
    
}